:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #d4d4d4;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

/**FONDO CON CAMBIO DE COLOR**/
@keyframes color {
    0% {
        background: #7e7d7d;
    }

    20% {
        background: #afafaf;
    }

    40% {
        background: #c7c7c7;
    }

    60% {
        background: #ffffff;
    }

    80% {
        background: #afafaf;
    }

    100% {
        background: #7e7d7d;
    }
}

body {
    /* Fallback */
    animation: color 8s infinite linear;

    text-align: center;
    padding: 2em;
    font-size: 16px;
    /* 1 rem =10px*/
    font-family: 'Krub', sans-serif;
}

/**Scroll**/
.nav-bg,
.contenedor h2,
.cont,
.cont2,
.formulario,
.boxfinal,
.principio {
    scroll-snap-align: center;
    scroll-snap-stop: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.titulo {
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    margin-block-end: 7rem;
}

h2 {
    margin-block-start: 0rem
}

.nav-bg {
    background-color: var(--grisClaro);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:480px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* 480 px 768px 1140px 1400px*/
.navegacion-principal a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    color: var(--oscuro);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
}

.navegacion-principal a:hover {
    background-color: var(--oscuro);
    color: var(--blanco);
}

.contenedor {
    max-width: 62rem;
    margin: 0 auto;
    margin-bottom: 120px;
}

.contenedor h3 {
    font-size: 15px;
    text-align: justify;
}

.cont {
    max-width: 48rem;
    margin: 0 auto;
    margin-bottom: 120px;
}

.cont h3 {
    font-size: 15px;
    text-align: justify;
}

.cont h4 {
    font-size: 15px;
    text-align: center;
    margin-top: -25px;
}

.cont2 h3 {
    font-size: 15px;
    text-align: center;
}

.hero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    position: relative;
    margin-bottom: -10rem;
}

.contenido-hero {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    /* background-color: rgba(0,0,0,.6); */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    font-size: 15px;
    color: var(--oscuro);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos del formulario */

.sombra {
    box-shadow: 0px 0px 16px 0px rgba(61, 60, 61, 0.79);
    background-color: var(--blanco);
    border-radius: 1.5rem;
}

.sombra h2 {
    align-items: center;
    display: flex;
    justify-content: center;
}

.formulario {
    background-color: var(--gris);
    width: min (60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blanco);
}

@media (min-width: 768) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 2rem;
}

.campo textarea {
    height: 20rem;
}

.campo label {
    display: block;
    font-weight: 700;
    color: var(--blanco);
    margin-bottom: 0.5em;
}

.imput-text {
    width: 90%;
    border: none;
    padding: 2rem;
    border-radius: 0.5rem;
}

.boxfinal h2 {
    margin-top: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* .container {
    margin-top: 2rem;
    position: relative;
    padding-top: 22px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.inputBox {
    position: relative;
    width: 350px;
}

.inputBox input {
    position: relative;
    padding: 8px 10px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: 1.25em;
    transition: 1s;
    letter-spacing: 0.05em;
    z-index: 2;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    font-size: 1em;
    transition: 1s;
    letter-spacing: 0.05em;
    color: #333;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    font-size: 0.85em;
    transform: translateY(-32px);
}

.inputBox i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #333;
    background: linear-gradient(45deg, #000000, #a5a5a5);
    transition: 1s;
    z-index: 1;
    border-radius: 4px;
    pointer-events: none;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

button{
display: inline-block;
outline: none;
cursor: pointer;
font-size: 16px;
line-height: 20px;
font-weight: 600;
border-radius: 8px;
padding: 13px 23px;
border: 1px solid #222222;
background: #fff;
color: #222222;
:hover {
    border-color: #000000;
    background: #f7f7f7;
}
}
